
@{
    ViewBag.Title = "Pending Decline List";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class="page-header">
    <h4 class="page-title">Pending Request to approve(Credit Limit)</h4>
    <div class="form-group">
        <label class="form-label"></label>
        <div class="row gutters-xs">

        </div>
    </div>
</div>

<div class="col-sm-12 col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                        <label class="form-label">As On</label>
                        <div class="row gutters-xs">
                            <div class="col">
                                @Html.TextBox("AsOn", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(-1).ToString("dd MMM yyyy 08:00") })

                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-lg-1 col-sm-12">
                    <div class="form-group">
                        <label class="form-label" style="visibility:hidden">.</label>
                        <div class="row gutters-xs">
                            <div class="col">
                                <input type="button" id="btnShow" value="Show" class="btn btn-primary " onclick="ShowSummary()" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">

                    <div class="table-responsive">
                        <table class="table table-bordered text-nowrap w-100" id="tblReleaseRequest" style="width:100%">
                            <thead>
                                <tr>

                                    <th class="bg-primary text-white wd-15p sorting">Sr No.</th>
                                    <th class="bg-primary text-white wd-15p sorting">Customer</th>
                                    <th class="bg-primary text-white wd-15p sorting">Requested By</th>
                                    <th class="bg-primary text-white wd-15p sorting">Request On</th>
                                    <th class="bg-primary text-white wd-15p sorting">Request Limit Days</th>
                                    <th class="bg-primary text-white wd-15p sorting">Approve</th>
                                    <th class="bg-primary text-white wd-15p sorting">Decline</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ShowSummary() {
        var asOn = $("#AsOn").val();
        var data = { 'asOn': asOn };
        data = JSON.stringify(data);
        $.ajax({
            url: '/ReceiptTally/GetReleaseRequestSummary',
            type: 'Post',
            data: data,
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                CRData = data;
                $('#tblReleaseRequest').DataTable({
                    "destroy": true,
                    "bLengthChange": false,
                    "aaData": data,
                    "bPaginate": true,
                    "bInfo": false,
                    "paging": true,
                    order: [],
                    "searching": true,

                    "columns": [
                        {
                            "data": "SrNo",
                        },
                        {
                            "data": "CustomerName",
                        },
                        { "data": "RequestedBy" },
                        { "data": "RequestOn" },
                        {
                            "data": "DaysFor",
                            "render": function (data, type, row, meta) {
                                data = "<input class=\"form-control\" id=\"DaysFor_" + row.SrNo + "\" value=\"" + row.DaysFor + "\"  onchange=\"UpdateConditionalApprove(" + row.SrNo + ")\" autocomplete=\"off\"/>";
                                return data;
                            }
                        },
                        {
                            "data": "IsApproved",
                            "render": function (data, type, row, meta) {

                                data = "<div class=\"btn-list\"><button class=\"btn btn-info btn-sm \" title=\"Approve Release Request\" onclick=\"ApproveReleaseRequest('" + row.CRLimitID + "','" + row.SrNo + "')\"><i class=\"fa fa-check\"></i></button></div>";

                                return data;
                            }
                        },

                        {
                            "data": "IsDecline",
                            "render": function (data, type, row, meta) {

                                data = "<div class=\"btn-list\"><button class=\"btn btn-danger btn-sm \" title=\"Decline Release Request\" onclick=\"DeclineReleaseRequest('" + row.CRLimitID + "','" + row.SrNo + "')\"><i class=\"fa fa-times\"></i></button></div>";

                                return data;
                            }
                        },


                    ],
                    mark: true
                });

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function ApproveReleaseRequest(CRID, SrNo) {
        var confirmation = confirm("Are you sure want to Approve?");
        if (confirmation) {
            var date = new Date();
            var limitDays = $("#DaysFor_" + SrNo).val();
            var data = { 'limitDays': limitDays, 'CRID': CRID, 'AddedOn': date };
            data = JSON.stringify(data);
            console.log(data);
            $.ajax({
                url: "/ReceiptTally/ApproveReleaseRequest",
                data: data,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.Status == 1) {
                        alert(data.Message);
                        ShowSummary();
                        $("#tracker-loader").fadeOut("slow");
                    } else {
                        alert(data.Message);
                        $("#tracker-loader").fadeOut("slow");
                    }
                },
                error: function (errormessage) {
                    let str = errormessage.responseText;
                    var a = str.indexOf("<title>") + 7;
                    var b = str.indexOf("</title>");
                    str = str.substring(a, b);
                    alert("Something went wrong: " + str);
                    $("#tracker-loader").fadeOut("slow");
                }
            }
            );
        }
    }


    function DeclineReleaseRequest(CRID, SrNo) {
        var confirmation = confirm("Are you sure want to decline?");
        if (confirmation) {
            var date = new Date();
            var limitDays = $("#DaysFor_" + SrNo).val();
            var data = { 'limitDays': limitDays, 'CRID': CRID, 'AddedOn': date };
            data = JSON.stringify(data);
            console.log(data);
            $.ajax({
                url: "/ReceiptTally/DeclineReleaseRequest",
                data: data,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.Status == 1) {
                        alert(data.Message);
                        ShowSummary();
                        $("#tracker-loader").fadeOut("slow");
                    } else {
                        alert(data.Message);
                        $("#tracker-loader").fadeOut("slow");
                    }
                },
                error: function (errormessage) {
                    let str = errormessage.responseText;
                    var a = str.indexOf("<title>") + 7;
                    var b = str.indexOf("</title>");
                    str = str.substring(a, b);
                    alert("Something went wrong: " + str);
                    $("#tracker-loader").fadeOut("slow");
                }
            }
            );
        }
    }
</script>
