@model TrackerMVCEntities.BusinessEntities.VesselMaster

@{
    ViewBag.Title = "EditVesselSummary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/css/NewCHAProfile.css" rel="stylesheet" />
<div class=" content-area overflow-hidden">
    <div class="page-header">
        <h4 class="page-title">Update Vessel   </h4>
        <div class="form-group">
            <label class="form-label"></label>
            <div class="row gutters-xs">
                <div class="col">
                    <button type="button" class="btn btn-icon btn-success" name="summarylist" title="Summary list" id="summarylist" onclick="window.location = '@Url.Action("GetVesselSummary", "VesselSummary")' "><i class="fa fa-arrow-left"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">

                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Vessel Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.VesselName, new { htmlAttributes = new { @class = "form-control", @id = "vesselName", autocomplete = "on", maxlength = 100 } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-sm-12">
                            <div class="form-group">
                                @*<label class="form-label">Is Active</label>*@
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @*@Html.EditorFor(model => model.eMailIDs, new { htmlAttributes = new { @class = "form-control", @id = "emailID" } })*@
                                        @Html.CheckBoxFor(m => m.IsActive, new { @checked = "checked", @id = "isActive" }) Is Active? @*<label class="form-label">Is Active</label>*@
                                        @* <label>@Html.CheckBoxFor(m => m.IsActive)&nbsp;@Html.DisplayNameFor(m => m.IsActive)</label>*@

                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="card-footer text-right">
                            <div class="form-group">
                                <label class="form-label"></label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input type="submit" id="Update" name="updateVessel" value="Update Vessel" class="btn btn-success" />
                                        @*<input type="button" name="clearProfile" value="Clear" class="btn btn-gray" title="clear" id="clearValue" />*@
                                        <button type="button" class="btn btn-icon btn-gray" name="clearProfile" title="clear" id="clearValue"><i class="fa fa-undo"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label id="message" class="display_none"></label>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>