@*@model TrackerMVCEntities.BusinessEntities.AmmendmentlogEntities*@
@model IEnumerable<TrackerMVCEntities.BusinessEntities.AmmendmentlogEntities>
<div>
    <div class="modal-header">
        <h5 class="modal-title" id="example-Modal3">JO No. @ViewBag.JONo Log Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <form id="myForm">
            <div class="form-group">

                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th class=" sorting">#</th>
                                <th class="wd-15p sorting">Description</th>
                               
                            </tr>
                        </thead>
                        <tbody style="box-sizing :border-box;">
                            @foreach (var  logEvent in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => logEvent.srno)</td>
                                    <td>@Html.DisplayFor(m => logEvent.sentence)</td>
                                   
                                </tr>
                            }


                        </tbody>
                    </table>


                </div>


            </div>
          
        </form>

    </div>
   
</div>