@model TrackerMVCEntities.BusinessEntities.LoadedContainerArrival

@{
    ViewBag.Title = "LoadedContainerArrival";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<style>
    table#example2 tr:last-child {
        background: #9f78ff;
        color: white;
    }
    table#example2 tr:first-child {
        background: none;
    }
</style>
<script src="~/js/GetTableJson.js"></script>

<div id="tracker-loader"></div>
<div class=" content-area" id="divSummary">
    <div class="page-header">
        <h4 class="page-title">Loaded Container Arrival</h4>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="row">
                                <div class="col-lg-5 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">From Date</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.TextBox("FromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(-1).ToString("dd MMM yyyy 08:00") })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"> To Date</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.TextBox("ToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 07:59") })

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-1 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label" style="visibility:hidden">.</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                <input type="button" id="btnShow" value="Show" class="btn btn-primary" onclick="ShowArrivalContainer()" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="tab_wrapper first_tab">
                            <ul class="tab_list">
                                <li class="active" rel="tab_1_1" id="tabItems">Container List</li>
                                <li rel="tab_1_2" class="" id="tabLocation">Summary</li>
                               
                                @*  <li rel="tab_1_4" class="">Tab 4</li>*@
                            </ul>
                            <div class="content_wrapper">
                                <div title="tab_1_1" class="accordian_header tab_1_1 active">Tab 1<span class="arrow"></span></div>
                                <div class="tab_content first tab_1_1 active" title="tab_1_1" style="display: block;">
                                    @Html.ActionLink("Export To Excel", "ExportToExcelImportSummary", null, new { @class = "btn btn-primary btn-md" })
                                    <div class="row">

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example1">

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div title="tab_1_2" class="accordian_header tab_1_2 undefined">Tab 2<span class="arrow"></span></div>
                                <div class="tab_content tab_1_2" title="tab_1_2" style="display: none;">
                                     @Html.ActionLink("Export To Excel", "ExportToExcelLastImportPortWise", null, new { @class = "btn btn-primary btn-md" })
                                    <div class="row">
                                        <div class="col-lg-10 col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example2">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                 

                                </div>
                            </div>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>
    </div>
</div>
@*<script type="text/javascript">
        $(document).ready(function () {
            $('#example1').DataTable({
                "bLengthChange": false,
                "bInfo": false,
                "bPaginate": false,
                //"bFilter": false,
                "paging": false,
                "dom": 'Bfrtip',
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [1]
                    }

                ],
                "buttons": [{
                    "extend": 'excel',
                    "title": 'LoadedContainerArrival',
                    "filename": 'LoadedContainerArrival_List'

                }
                ]
            });
        });
    </script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $('#example1').DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            //"bFilter": false,
            "paging": false,
           
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [1]
                }

            ]
        });
    });
    $(window).on("load", function (e) {
        $("#tracker-loader").fadeOut("slow");
    })
</script>


<script type="text/javascript">


    function ShowArrivalContainer() {
        $("#tracker-loader").fadeIn("fast");
        var FromDate = $("#FromDate").val()
        var ToDate = $("#ToDate").val()
        var SearchCriteria = "-None-"
        var SearchText = "";


        if (Date.parse(FromDate) > Date.parse(ToDate)) {
            alert("Invalid Date Range");
        }
        else {

            $.ajax({
                type: 'POST',
                url: '/UpdateDischarge/getLoadedContainerArrival',
                data: '{FromDate: ' + JSON.stringify(FromDate) + ', ToDate: ' + JSON.stringify(ToDate) + ',SearchCriteria: ' + JSON.stringify(SearchCriteria) + ',SearchText: ' + JSON.stringify(SearchText) + '}',
                //data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: function (data) {
                    RepTableDataJson($('#example1'),data, "Loaded Container Arrival", "ContainerArrival");
                    ShowDetails()
                    $("#tracker-loader").fadeOut("slow");

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                    $("#tracker-loader").fadeOut("slow");
                }
            });
        }


    }


    function ShowDetails() {
       
       


        $.ajax({
            type: 'POST',
            url: '/UpdateDischarge/ImportPortWiseMovementDetails',
           // data: data,
            // data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (jsonResult) {
                $("#example2").empty();
                RepTableDataJson($("#example2"), jsonResult, "Voucher Details", "VoucherDetails_List");
             
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
             
            }
        });
    }
</script>


