
@{
    ViewBag.Title = "Print TP";
}

@model TrackerMVCEntities.BusinessEntities.TPEntryEntities

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    #first {
        float: left;
        width: 40%;
        height: 50%;
    }

    #gg {
        float: left;
        width: 40%;
        height: 50%;
    }

    #second {
        float: left;
        width: 60%;
        height: 30%;
    }

    .first1 {
        float: left;
        width: 50%;
        height: 100%;
    }

    .signature {
        border: 0;
        border-bottom: 1px solid #000;
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TP Print</title>
</head>

<body>
    <h4 style="font-family:'Segoe UI'">NO(N).&nbsp; @ViewBag.TPNumber </h4>

    <h4 style="font-family:'Segoe UI'">M.V.No. &nbsp;@ViewBag.TrailerName</h4>
    <h4 style="font-family:'Segoe UI'">Date: &nbsp; @ViewBag.TPDate</h4>


    <table class="table" width="20%">
        <thead>
            <tr>
                <th align="left">Particulars</th>
                <th align="left">Amount.</th>

            </tr>
        </thead>
        <tbody style="box-sizing :border-box;">
            <tr>
                <td height="100" align="justify" style="vertical-align: top;">Diesel</td>
                <td height="100" align="right" style="vertical-align: top;">@ViewBag.amount</td>
            </tr>
          
            <tr>
                <td colspan="2">In Word: @ViewBag.AmountWords </td>
            </tr>
            <tr>
                <td colspan="2"> </td>
            </tr>
        </tbody>
    </table>

    <br /><br /><br /><br />

    <div class="row">
        <label>Stamp</label><label style="margin-left:100px">Sign</label>
    </div>





</body>
</html>



