
@{
    ViewBag.Title = "Location Wise Billing";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@*<div id="tracker-loader"></div>*@
<div class=" content-area" id="divSummary">
    <div class="page-header">
        <h4 class="page-title">Location Wise Per TEUS Report</h4>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                       
                            <div class="row">
                                <div class="col-lg-2 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">From Date</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.TextBox("FromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(-1).ToString("dd MMM yyyy 08:00") })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"> To Date</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.TextBox("ToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 07:59") })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Location</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.DropDownList("ddlTOlocation", (IEnumerable<SelectListItem>)ViewBag.Location, "--Select--", new { @class = "form-control", @id = "ddlTOlocation", name = "ddlTOlocation", autocomplete = "off" })

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-1 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label" style="visibility:hidden">.</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                <input type="button" id="btnShow" value="Show" class="btn btn-primary" onclick="ShowArrivalContainer()" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-sm-12" id="divTEUS" style="display:none">
                            <div class="form-group">
                                <label class="form-label">20</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input id="lbltwenty" type="text" class="form-control" readonly="readonly" />

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-12" id="divTEUS1" style="display:none">
                            <div class="form-group">
                                <label class="form-label"> 40</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input id="lblforty" type="text" class="form-control" readonly="readonly" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-12" id="divTEUS2" style="display:none">
                            <div class="form-group">
                                <label class="form-label">45</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input id="lblfortyfive" type="text" class="form-control" readonly="readonly" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-12" id="divTEUS3" style="display:none">
                            <div class="form-group">
                                <label class="form-label">TEUS</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input id="lblTotal" type="text" class="form-control" readonly="readonly" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12" id="divGrand" style="display:none">
                            <div class="form-group">
                                <label class="form-label">Grand Total</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input id="lblgrand" type="text" class="form-control" readonly="readonly" style="font-weight:bold;"/>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12" id="divPer" style="display:none">
                            <div class="form-group">
                                <label class="form-label">PER/TEUS</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input id="perteus" type="text" class="form-control" readonly="readonly" style="font-weight:bold;" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example1">
                                <thead>
                                    <tr>
                                        <th class="wd-15p sorting">Sr No.</th>
                                        <th class="wd-15p sorting">Movement DAte</th>
                                        <th class="wd-15p sorting">Container No.</th>
                                        <th class="wd-15p sorting">Size</th>
                                        <th class="wd-15p sorting">Party Name</th>
                                        <th class="wd-15p sorting">Billing amOUNT</th>
                                        <th class="wd-15p sorting">tRAILER NO.</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example1').DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            //"bFilter": false,
            "paging": false,
           // "dom": 'Bfrtip',
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [1]
                }

            ]

        });
    });
    //$(window).on("load", function (e) {
    //    $("#tracker-loader").fadeOut("slow");
    //})
</script>

<script>
    function ShowArrivalContainer() {
        $("#lbltwenty").val('');
        $("#lblforty").val('');
        $("#lblfortyfive").val('');
        $("#lblTotal").val('');
        $("#lblgrand").val('');
      
        $("#perteus").val('');
        //$("#tracker-loader").fadeIn("slow");
       
        var Fromdate = $("#FromDate").val()
        var todate = $("#ToDate").val()
        var locationid = $("#ddlTOlocation option:selected").val();
    


        if (Date.parse(FromDate) > Date.parse(ToDate)) {
            alert("Invalid Date Range");
        }
        else {

            $.ajax({
                type: 'POST',
                url: '/VehicleDetails/AjaxGetBillingReport',
                data: '{Fromdate: ' + JSON.stringify(Fromdate) + ', todate: ' + JSON.stringify(todate) + ',locationid: ' + JSON.stringify(locationid) + '}',
                //data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: function (data) {
                    //alert(JSON.stringify(data));
                    $('#example1').dataTable({
                        "destroy": true,
                        "bLengthChange": false,
                        "bPaginate": false,
                        //"bFilter": false,
                        "paging": false,
                        "aaData": data,
                        "columns": [
                            { "data": "SrNo" },
                            { "data": "MovementDAte" },
                            { "data": "ContainerNo" },
                            { "data": "Size" },
                            { "data": "PartyName" },
                            { "data": "BillingamOUNT" },
                            { "data": "tRAILERNO" }
                          
                          
                        ]
                    });
                  
                    //$("#tracker-loader").fadeOut("slow");
                    var table = document.getElementById("example1");
                    var row;


                    var TotTEUS1 = 0;
                    var TotTEUS2 = 0;
                    var TotTEUS3 = 0;
                    var TotTEUS = 0;
                    var grandnumber = 0;
                    for (var i = 1; i < table.rows.length; i++) {
                        row = table.rows[i];
                        //var Size = row.cells[6].childNodes[1].value;
                        var Size = row.cells[3].innerText;
                        var size1 = row.cells[5].innerText;
                        var size4 = row.cells[3].innerText;


                        var perteus = 0;

                        grandnumber = grandnumber + Number(size1);
                        perteus = perteus + Number(size4);

                        if (Size == 20) {
                            TotTEUS1 = Number(TotTEUS1) + 1;
                        }
                        if (Size == 40) {
                            TotTEUS2 = Number(TotTEUS2) + 1;
                        }
                        if (Size == 45) {
                            TotTEUS3 = Number(TotTEUS3) + 1;
                        }
                        //TotTEUS = Number(TotTEUS) + Number(size);


                    }
                    TotTEUS = TotTEUS1 + (TotTEUS2 * 2) + (TotTEUS3 * 2)
                    // alert(TotTEUS);
                    $("#lbltwenty").val(TotTEUS1);
                    $("#lblforty").val(TotTEUS2);
                    $("#lblfortyfive").val(TotTEUS3);
                    $("#lblTotal").val(TotTEUS);
                    $("#lblgrand").val(grandnumber.toFixed(2));
                    var finalteus = grandnumber / TotTEUS;
                    $("#perteus").val(finalteus.toFixed(2));

                    $("#divTEUS").show();
                    $("#divTEUS1").show();
                    $("#divTEUS2").show();
                    $("#divTEUS3").show();
                    $("#divGrand").show();
                    $("#divPer").show();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                    //$("#tracker-loader").fadeOut("slow");
                }
            });
        }


    }
</script>






