@model TrackerMVCEntities.BusinessEntities.TPEntryEntities

@{
    ViewBag.Title = "TestInsert";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Test Entry</h4>
    </div>
    @using (Html.BeginForm("TestInsert", "VehicleDetails", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Role</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("Role", null, new { @class = "form-control", @id = "Role", name = "Role", autocomplete = "off", placeholder = "Role" })<br />                                          @*<input type="text" class="form-control" name="example-text-input" placeholder="User ID">*@
                                            <button type="button" class="btn btn-success" onclick="return Save();" id="btnSave">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>