
@{
    ViewBag.Title = "Accrude Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<style>

    .table thead th, .text-wrap table thead th {
        background-color: #9f78ff;
        color: white;
    }
</style>

<script src="~/js/GetTableJson.js"></script>
<div id="tracker-loader"></div>
<div class=" content-area overflow-hidden">
    <div class="page-header">
        <h4 class="page-title">Accrue Details</h4>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                      
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">As On Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy HH:mm") })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden"> '</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input type="button" value="Show" class="btn btn-primary" onclick="GetCSVExcel()" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
              
                    <div class="row">
                        <div class="col-md-12 col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="reportTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
    });
    $(window).on("load", function (e) {
        $("#tracker-loader").fadeOut("slow");
    })
</script>



<script>
    function ShowSelectedValue() {

          var ToDate = $("#txtToDate").val();

         data1 = {   'ToDate': ToDate };
         data = JSON.stringify(data1);
           $("#tracker-loader").fadeIn("slow");
          window.location = '@Url.Action("ExportToExcelAccrudeDetails", "report")?ToDate=' + ToDate;

           $("#tracker-loader").fadeOut("slow");

    }
    

    function GetCSVExcel() {
        // alert("before")
        $("#tracker-loader").fadeIn("fast");

        var delayInMilliseconds = 1000; //1 second

        setTimeout(function () {
            for (i = 0; i < 4000; i++) {
                i = i + 0;
            }
            ShowSelectedValue();

        }, delayInMilliseconds);


        //$("#tracker-loader").fadeOut("slow");
    }
</script>

