<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Annexture Custom Report</title>
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }

        .tblBox {
            border-collapse: collapse; 
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 11pt;
            font-family: 'verdana(batlic)';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 15px;
            font-family: verdana(batlic);
            background-color: #ede5e5;
        }

        td {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }

        h5, h4 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        h3 {
            font-size: 10pt;
            font-family: 'verdana(batlic)';
        }


        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>
            Location of the ICD / CFS: Survey No. 89/93/95/97, At Somathane, Taluka – Panvel,                            Dist. Raigad, State: Maharashtra – 410206, India.
        </h1>
    </div>
    <div class="box">
        <h1>
            Quarter and year of reporting (*) @ViewBag.DatePeriod
        </h1>
    </div>
    <div class="box">
        <h1>
            Operator / Organization: @ViewBag.CompanyName
        </h1>
    </div>
    <div class="box">
        <h1>
            IMPORT CYCLE
        </h1>
    </div>
    <div class="box">
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Month</th>
                    <th>Loaded TEUs</th>
                    <th colspan="2">Container arrival to filling of BOE (In TEUs)</th>
                    <th colspan="2">After filling of BOE to Customs clearance (In TEUs)</th>
                    <th colspan="2">Destuffing of container to cargo delivery (In TEUs)</th>
                    <th>*Average monthly dwell time at ICD/CFS per TEU(In hours)</th>
                </tr>
                <tr>
                    <th>&nbsp;.</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Upto 72 hours</th>
                    <th>Beyond 72 hours</th>
                    <th>Upto 48 hours</th>
                    <th>Beyond 48 hours</th>
                    <th>Upto 24 hours</th>
                    <th>Beyond 24 hours</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var row in ViewBag.CustomImpList)
                {
                    <tr>
                        <td>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
