
@{
    ViewBag.Title = "Category And Party Wise Revenue";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<script src="~/js/GetTableJsonPagging.js"></script>

<div id="tracker-loader"></div>
<div class=" content-area overflow-hidden">
    <div class="page-header">
        <h4 class="page-title">Category And Party Wise Revenue</h4>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Search Criteria</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.DropDownList("ddlSeachby", new List<SelectListItem>
                                                                 { new SelectListItem { Text = "--Select--", Value = ""},
                                                                   new SelectListItem { Text = "BOND", Value = "BOND"},
                                                                   new SelectListItem { Text = "Domestic", Value = "Domestic"},
                                                                   new SelectListItem { Text = "Export", Value = "Export"},
                                                                   new SelectListItem { Text = "Import CHA Wise", Value = "Import CHA Wise"},
                                                                   new SelectListItem { Text = "Import Bill To Wise", Value = "Import Bill To Wise"},
                                                                   new SelectListItem { Text = "MNR", Value = "MNR"},
                                                                   new SelectListItem { Text = "Import Line Wise Revenue", Value = "Import Line Wise Revenue"},
                                                                   }, new { @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> From Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtFromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(-7).ToString("dd MMM yyyy 00:00") })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> To Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 23:59:59") })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden"> '</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input type="button" value="Show" class="btn btn-primary" onclick="ShowRevenueList()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("Export To Excel", "ExportToExcelCategoryAndPartyWiseRevenue", null, new { @class = "btn btn-primary btn-md" })
                    <div class="row">
                        <div class="col-md-12 col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="reportTable" style="width:100%">
                                    <thead>
                                        <tr></tr>

                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).on("load", function (e) {
        $("#tracker-loader").fadeOut("slow");
    })
</script>
<script type="text/javascript">

    function ShowRevenueList() {

        $("#tracker-loader").fadeIn("slow");
        var SearchCriteria = $("#ddlSeachby").val();
        var Fromdate = $("#txtFromDate").val();
        var ToDate = $("#txtToDate").val();

        var data1 = { 'SearchCriteria': SearchCriteria, 'Fromdate': Fromdate, 'ToDate': ToDate};
        var data = JSON.stringify(data1);



        $.ajax({
            url: "/Report/GetCategoryAndPartyWiseRevenue",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: true,
            dataType: "json",
            success: function (jsonResult) {
                $("#reportTable").empty();
                RepTableDataJsonwopaging($("#reportTable"), jsonResult, "Voucher Details", "VoucherDetails_List");
                $("#tracker-loader").fadeOut("slow");
            },

            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });

    }









</script>