
@{
    ViewBag.Title = "ExportTruckInReport";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class=" content-area" id="divSummary">
    <div class="page-header">
        <h4 class="page-title">Export Truck In Report</h4>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">On Account</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlcustomer", (IEnumerable<SelectListItem>)ViewBag.customer, "ALL", new { @class = "form-control custom-select", @id = "ddlcustomer", name = "ddlcustomer", autocomplete = "off" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">From Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("FromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 08:00") })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12" id="divallfrom">
                                <div class="form-group">
                                    <label class="form-label">From Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("ToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(1).ToString("dd MMM yyyy 07:59") })

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-1 col-sm-12" id="divall">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden">.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input type="button" id="btnShow" value="Show" class="btn btn-primary" onclick="showMovementdetails1()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden">.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.ActionLink("Export To Excel", "ExportToExcelgetExportTruckInReport", null, new { @class = "btn btn-primary btn-md" })

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-1 col-sm-12" style="display:none" id="divTP">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden">.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input type="button" id="btnShow" value="Show" class="btn btn-primary" onclick="showTPdetailsdetails1()" />
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="form-group">
                            <label class="form-label"></label>
                            <div class="input-group">

                                <span class="input-group-append " id="tabPurpose">
                                    <button class="btn btn-primary" id="export1" style="text-transform: uppercase;" type="button" onclick="showTPdetailsdetails1()">Summary</button>
                                    <button class="btn btn-primary" id="export2" style="text-transform: uppercase;" type="button" onclick="showMovementdetails1()">Details </button>
                                    <label id="selectedImportORExport" class="display_none"></label>
                                </span>
                            </div><br />

                            <div class="row" id="divMovementDetailsDetails">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example1">
                                        <thead>
                                            <tr>
                                                @*<th class="wd-15p sorting">Sr No</th>
                                <th class="wd-15p sorting">Gate IN No</th>
                                <th class="wd-15p sorting">Truck No</th>
                                <th class="wd-15p sorting">Vehicle Type</th>
                                <th class="wd-15p sorting">SBEntryID</th>
                                <th class="wd-15p sorting">SB No</th>
                                <th class="wd-15p sorting">Gate IN Date</th>
                                <th class="wd-15p sorting">CHA Name</th>
                                <th class="wd-15p sorting">Agency Name</th>
                                <th class="wd-15p sorting">Gate IN Qty</th>
                                <th class="wd-15p sorting">Gate IN Weight</th>*@

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                            <div class="row" style="display:none" id="divTPDetails">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example5">
                                        <thead>
                                            <tr>
                                                @*<th class="wd-15p sorting">Agency Name</th>
                                <th class="wd-15p sorting">Count</th>*@



                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        //$('#example1').DataTable({
        //    "bLengthChange": false,
        //    "bInfo": false,
        //    "bPaginate": false,
        //    //"bFilter": false,
        //    "paging": false

        //});

        //$('#example4').DataTable({
        //    "bLengthChange": false,
        //    "bInfo": false,
        //    "bPaginate": false,
        //    //"bFilter": false,
        //    "paging": false

        //});
        //$('#example5').DataTable({
        //    "bLengthChange": false,
        //    "bInfo": false,
        //    "bPaginate": false,
        //    //"bFilter": false,
        //    "paging": false

        //});
        $("#lblshow").text("Number");
    });
</script>
<script>
    function ShowMovementDetails() {
        $("#divTPDetails").hide();
        $("#divMovementDetailsDetails").show();
    }
    function ShowTpDetails() {
        $("#divTPDetails").show();
        $("#divMovementDetailsDetails").hide();
    }
</script>
<script type="text/javascript">

    function showMovementdetails1() {

        var DepartmentID = $("#ddlcustomer option:selected").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        if (DepartmentID == "" || DepartmentID == undefined || DepartmentID == "ALL") {
            DepartmentID == 0;
        }

        data1 = { 'FromDate': FromDate, 'ToDate': ToDate,'DepartmentID': DepartmentID};
        data = JSON.stringify(data1);

        debugger;

        $.ajax({
            type: 'POST',
            url: "/Report/AjaxgetExportTruckInReport",
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (jsonResult) {
                $("#divTPDetails").hide();
                $("#divMovementDetailsDetails").show();
                $("#example1").empty();
                RepTableDataJson($("#example1"), jsonResult, "VoucherDetails", "VoucherDetails_List");
               
            },

            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        console.log(jsonResult);
        
    }
    function showTPdetailsdetails1() {
      
        var DepartmentID = $("#ddlcustomer option:selected").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        if (DepartmentID == "" || DepartmentID == undefined || DepartmentID == "ALL") {
            DepartmentID == 0;
        }

        data1 = { 'FromDate': FromDate, 'ToDate': ToDate, 'DepartmentID': DepartmentID };
        data = JSON.stringify(data1);

        

        $.ajax({
            type: 'POST',
            url: "/Report/AjaxgetExportTruckInCount",
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (jsonResult) {
                $("#divTPDetails").show();
                $("#divMovementDetailsDetails").hide();
                $("#example5").empty();
                RepTableDataJson($("#example5"), jsonResult, "VoucherDetails", "VoucherDetails_List");

            },


            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        console.log(jsonResult);
        debugger;
    }
    function RepTableDataJson(tableName, data, title, fileName) {
        //debugger;
        //Check if table dose not exist then return error message.
        try {
            if (tableName == null) {
                alert("table not exist.");
            }

            //Check Data Table has if already initialize then need to destroy first!
            if ($.fn.DataTable.isDataTable(tableName)) {
                tableName.DataTable().destroy();
                tableName.empty();
            }

            var parseJSONResult = jQuery.parseJSON(data);

            if (parseJSONResult != null && parseJSONResult.length > 0) {
                //Get dynmmic column.
                var dynamicColumns = [];
                var i = 0;
                $.each(parseJSONResult[0], function (key, value) {
                    var obj = { sTitle: key };
                    dynamicColumns[i] = obj;
                    i++;
                });
                //fetch all records from JSON result and make row data set.
                var rowDataSet = [];
                var i = 0;
                $.each(parseJSONResult, function (key, value) {
                    var rowData = [];
                    var j = 0;
                    $.each(parseJSONResult[i], function (key, value) {
                        rowData[j] = value;
                        j++;
                    });
                    rowDataSet[i] = rowData;

                    i++;
                });
                tableName.dataTable({
                    "destroy": true,
                    "bLengthChange": false,
                    "aaData": rowDataSet,
                    "bInfo": true,
                    "bPaginate": true,
                    "bFilter": true,
                    "paging": true,
                    //"order": [],
                    "columns": dynamicColumns,
                    "deferRender": true

                });
            }


        }
        catch (ex) {
            alert(ex.message);
        }
    }
</script>

