
@{
    ViewBag.Title = "Export Empty Gate In Summary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class=" content-area overflow-hidden">
    <div class="page-header">
        <h4 class="page-title">Export Empty Gate In Summary</h4>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> From Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtFromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(-1).ToString("dd MMM yyyy HH:mm") })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> To Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy HH:mm") })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Search Criteria</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.DropDownList("ddlSearch", new List<SelectListItem>
                                            { new SelectListItem { Text = "--Select--", Value = "0"},
                                                new SelectListItem { Text = "ALL", Value = "ALL"},
                                                new SelectListItem { Text = "On Account", Value = "On Account"},
                                              new SelectListItem { Text = "Shipping Line", Value = "Shipping Line"},
                                              }, new { @class = "form-control", autocomplete = "off", @id = "ddlSearch" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <div class="row gutters-xs">
                                    <select id="ddlsearchname" class="form-control">
                                        <option value="0">--Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden"> '</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input type="button" value="Show" class="btn btn-primary" onclick="Show()" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-12" id="divTEUS" style="display:none">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden"> '</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <span style="font-weight: bold"> 20 :</span> <label id="lbltwenty" style="font-weight: bold"></label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-12" id="divTEUS1" style="display:none">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden"> '</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <span style="font-weight: bold"> 40 :</span> <label id="lblforty" style="font-weight: bold"></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12" id="divTEUS2" style="display:none">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden"> '</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <span style="font-weight: bold"> 45 :</span> <label id="lblfortyfive" style="font-weight: bold"></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12" id="divTEUS3" style="display:none">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden"> '</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <span style="font-weight: bold"> TEUS :</span>   <label id="lblTotal" style="font-weight: bold"></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example1" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>CFS Code</th>
                                            <th>container No</th>
                                            <th>Size</th>
                                            <th>Container Type</th>
                                            <th>in date</th>
                                            <th>Tare Weight</th>
                                            <th>Gross Weight</th>
                                            <th>Pay Load</th>
                                            <th>trailer no</th>
                                            <th>MType</th>
                                            <th>condition</th>
                                            <th>Line Name</th>
                                            <th>On Account</th>
                                            <th>Source</th>
                                            <th>Seal No</th>
                                            <th>Entry Type</th>
                                            <th>Booking No</th>
                                            <th>Pick up</th>
                                            <th>Remarks</th>
                                            <th>User Name</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody style="box-sizing :border-box;"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
        $('#example1').DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            //"bFilter": false,
            "paging": false,
            "dom": 'Bfrtip',
            "buttons": [{
                "extend": 'excel',
                "title": 'Empty Yard Gate IN Summary',
                "filename": 'Empty Yard Gate IN Summary_List'

            }
            ]
        });




    });


    $('#ddlSearch').change(function (e) {
        var SearchCriteria = $("#ddlSearch").val();

        $.ajax({

            url: "/Report/AjaxSeachWiseShippingorAccountname",
            data: JSON.stringify({ 'SearchCriteria': SearchCriteria }),
            contentType: "application/json; charset=utf-8",
            type: "POST",
            dataType: "Json",
            success: function (data) {

                var select = $("#ddlsearchname");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "--Select--"
                }))
                $.each(data, function (data, value) {

                    select.append($("<option></option>").val(value.SLID).html(value.SLName));
                })  

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }

        });
    });

</script>
<script type="text/javascript">

    function Show() {

        var fromdate = $("#txtFromDate").val();
        var TOdate = $("#txtToDate").val();
        var Search = $("#ddlSearch").val();
        var Search1 = $("#ddlsearchname").val();
        

        data1 = { 'fromdate': fromdate, 'TOdate': TOdate, 'Search': Search, 'Search1': Search1};
        data = JSON.stringify(data1);

        $.ajax({
            url: "/Report/AjaxExportGetEmptyGateINDetails",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#example1').dataTable({
                    "destroy": true,
                    "bLengthChange": false,
                    "bPaginate": false,
                    //"bFilter": false,
                    "paging": false,
                    "aaData": data,
                    "columns": [
                        { "data": "SrNo" },
                        { "data": "CFSCode" },
                        { "data": "containerNo" },
                        { "data": "Size" },
                        { "data": "ContainerType" },
                        { "data": "indate" },
                        { "data": "TareWeight" },
                        { "data": "GrossWeight" },
                        { "data": "PayLoad" },
                        { "data": "trailerno" },
                        { "data": "MType" },
                        { "data": "condition" },
                        { "data": "LineName" },
                        { "data": "AGName" },
                        { "data": "Source" },
                        { "data": "SealNo" },
                        { "data": "EntryType" },
                        { "data": "BookingNo" },
                        { "data": "Pickup" },
                        { "data": "Remarks" },
                        { "data": "UserName" },

                    ], "dom": 'Bfrtip',

                    "buttons": [{
                        "extend": 'excel',
                        "title": 'Empty Yard Gate Out Summary',
                        "filename": 'Empty Yard Gate Out Summary_List'

                    }
                    ]
                });
                var table = document.getElementById("example1");
                var row;


                var TotTEUS1 = 0;
                var TotTEUS2 = 0;
                var TotTEUS3 = 0;
                var TotTEUS = 0;

                for (var i = 1; i < table.rows.length; i++) {
                    row = table.rows[i];
                    //var Size = row.cells[6].childNodes[1].value;
                    var Size = row.cells[3].innerText;

                    //alert(Size)

                    if (Size == 20) {
                        TotTEUS1 = Number(TotTEUS1) + 1;
                    }
                    if (Size == 40) {
                        TotTEUS2 = Number(TotTEUS2) + 1;
                    }
                    if (Size == 45) {
                        TotTEUS3 = Number(TotTEUS3) + 1;
                    }
                    //TotTEUS = Number(TotTEUS) + Number(size);


                }
                TotTEUS = TotTEUS1 + ( TotTEUS2 * 2) + ( TotTEUS3 * 2)
                // alert(TotTEUS);
                $("#lbltwenty").text(TotTEUS1);
                $("#lblforty").text(TotTEUS2);
                $("#lblfortyfive").text(TotTEUS3);
                $("#lblTotal").text(TotTEUS);

                $("#divTEUS").show();
                $("#divTEUS1").show();
                $("#divTEUS2").show();
                $("#divTEUS3").show();

            },
            error: function (errormessage) {
                alert("error");
                alert(errormessage.responseText);
            }
        });
    }
</script>