@model IEnumerable<TrackerMVCEntities.BusinessEntities.MonthlyEntites>

@{
    ViewBag.Title = "MonthlyCollectionReport";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/css/Transporter.css" rel="stylesheet" />
<div id="divSummary">
    <div class="page-header">
        <h4 class="page-title">Import Collection</h4>
    </div>
    <div class="row row-cards">
        <div class="col-lg-6 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">


                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Year</th>
                                <th style="color:white;text-align:left;font-weight:bold;">Month No</th>
                                <th style="color:white;text-align:left;font-weight:bold;">Month Name</th>
                                <th style="color:white;text-align:left;font-weight:bold;">Grand Total</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in Model)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Year </td>

                                    <td style="text-align:right;">@d.MonthNo</td>
                                    <td style="text-align:right;">@d.MonthName </td>
                                    <td style="text-align:right;">@d.GetName </td>
                                   


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>



            </div>


        </div>



        <!--Codes By Trailers Location-->
        <!--bar graph-->
    </div>
</div>
