
@{
    ViewBag.Title = "Sales Register Container and HeadWise Report";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class=" content-area overflow-hidden">
    <div class="page-header">
        <h4 class="page-title">Sales Register Container and HeadWise Report</h4>
    </div>


    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <div class="row gutters-xs">

                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">From</label>
                                            @Html.TextBox("FromDate", null, new { @id = "FromDate", @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(-1).ToString("dd-MMM-yyyy hh:mm") })
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">To</label>
                                            @Html.TextBox("ToDate", null, new { @id = "ToDate", @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd-MMM-yyyy hh:mm") })
                                        </div>
                                    </div>

                                   
                                    <div class="col-md-22 col-lg-2">
                                        <div class="form-group label-floating" style="margin-top: 33px;">
                                            <button class=" btn btn-primary" style="margin-top: -7px" id="btnSearch" onclick="Show('SHOW')" type="button">
                                                SHOW
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-12" id="divTEUS" style="display:none">
                            <div class="form-group">
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <span style="font-weight: bold"> 20 :</span> <label id="lbltwenty" style="font-weight: bold"></label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-12" id="divTEUS1" style="display:none">
                            <div class="form-group">
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <span style="font-weight: bold"> 40's :</span> <label id="lblforty" style="font-weight: bold"></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12" id="divTEUS2" style="display:none">
                            <div class="form-group">
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <span style="font-weight: bold"> 45's :</span> <label id="lblfortyfive" style="font-weight: bold"></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12" id="divTEUS3" style="display:none">
                            <div class="form-group">
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <span style="font-weight: bold"> TEUS :</span>   <label id="lblTotal" style="font-weight: bold"></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover tbl-cart text-nowrap" id="reportTable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>importername.</th>
                                        <th>gstaddress.</th>
                                        <th>CHA NAME.</th>
                                        <th>LINE NAME</th>
                                        <th>Customer</th>
                                        <th>PartyName</th>
                                        <th>blnumber</th>
                                        <th>boeno</th>
                                        <th>Haluage</th>
                                        <th>AssessType</th>
                                        <th>Invoice Date</th>
                                        <th>Invoice No</th>
                                        <th>IGMNo</th>
                                        <th>ItemNo</th>
                                        <th>Container No.</th>
                                        <th>size.</th>
                                        <th>Container Type.</th>
                                        <th>Cargo Type</th>
                                        <th>Cargo Desc</th>
                                        <th>Cargo Wt</th>
                                        <th>Tare Wt</th>
                                        <th>Gross Wt</th>
                                        <th>Commodity</th>
                                        <th>ICD GATE-in date</th>
                                        <th>Gate-out date</th>
                                        <th>ValidUptoDate</th>
                                        <th>DWELL DAYS</th>
                                        <th>FREE DAYS</th>
                                        <th>BILL ITEM DESCRIPTION.</th>
                                        <th>Port Name.</th>
                                        <th>Movement RMS.</th>
                                        <th>Tariff Descriptions</th>
                                        <th>JO Type</th>
                                        <th>Scan Type</th>
                                        <th>LIFT ON/OFF (YES/NO)</th>
                                        <th>EMPTY OFF (YES/NO)</th>
                                        <th>LOADING  AND  UNLOADING (L/UL)</th>
                                        <th>REPORTING DATE & TIME TO FACTORY</th>
                                        <th>GATE-OUT FACTORY DATE & TIME</th>
                                        <th>SURVEY(YES/NO)</th>
                                        <th>Delivery Type</th>
                                        <th>GST</th>
                                        <th>bill amount</th>
                                        <th>GST Amt</th>
                                        <th>Remarks</th>
                                        <th>Prepared By</th>
                                        <th>Checked By</th>
                                        
                                    </tr>
                                </thead>
                                <tbody style="box-sizing :border-box;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#reportTable').DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            //"bFilter": false,
            "paging": false,
            "aoColumnDefs": [
            {
                'bSortable': false,
                'aTargets': [5]
            }
            ]
        });

    });






    function Show(type) {
        // var date = document.getElementById("SelectedDate").value;
        var DepartmentID = $("#ddlcustomer option:selected").val();
        //alert(DepartmentID)
        if (DepartmentID == "") {
            DepartmentID = 0;
        }
        // var DepartmentID = e.options[e.selectedIndex].text;
        var FromDate = $("#FromDate").val();
        var Search = $("#txtSearch").val();
        var ToDate = $("#ToDate").val();
        var data1 = { 'FromDate': FromDate, 'Customer': DepartmentID, 'ToDate': ToDate };
        data = JSON.stringify(data1);

        // alert(data);
        $.ajax({

            url: '/Report/GetTrackSalesRegisterContainerWiseHeadReport',
            type: 'Post',
            data: data,
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
               // alert(JSON.stringify(data))
                //alert(data[0].GrandTotal);




                $('#reportTable').dataTable({
                    "destroy": true,
                    "bLengthChange": false,
                    "aaData": data,
                    "bInfo": false,
                    "bPaginate": false,
                    "bFilter": true,
                    "paging": false,
                    "order": [],

                    "columns": [
                     { "data": "SrNo" },
                       { "data": "importername" },
                    { "data": "gstaddress" },
                    { "data": "CHAName" },
                    { "data": "Linename" },
                    { "data": "agname" },
                    { "data": "GSTName" },
                    { "data": "blnumber" },
                    { "data": "boeno" },
                   { "data": "Haluage" },
                    { "data": "AssessType" },
                    { "data": "AssessDate" },
                { "data": "InvoiceNo" },
                 { "data": "IGMNo" },
               { "data": "ItemNo" },
                { "data": "ContainerNo" },
                       { "data": "size" },
                    { "data": "ContainerType" },
                    { "data": "CargoType" },
                    { "data": "CargoDesc" },
                    { "data": "CargoWt" },
                    { "data": "TareWt" },
                    { "data": "GrossWt" },
                    { "data": "Commodity" },
                   { "data": "INDate" },
                    { "data": "outdate" },
                    { "data": "ValidUptoDate" },
                { "data": "DWELLDAYS" },
                 { "data": "FreeDay" },
               { "data": "accountname" },
              { "data": "PortName" },
                       { "data": "MovementRMS" },
                    { "data": "TariffDescription" },
                    { "data": "JOType" },
                    { "data": "ScanType" },
                    { "data": "LIFTONOFF" },
                    { "data": "EMPTYOFF" },
                    { "data": "LOADINGANDUNLOADING" },
                    { "data": "FactorygateinDate" },
                   { "data": "FactorygateoutDate" },
                    { "data": "SURVEY" },
                    { "data": "deliverytype" },
                { "data": "GST" },
                 { "data": "NetAmount" },
               { "data": "GSTAmt" },
              { "data": "Remarks" },
                       { "data": "PreparedBy" },
                    { "data": "CheckedBy" },
                    ],

                    "dom": 'Bfrtip',
                    "buttons": [{
                        "extend": 'excel',
                        "title": 'Sales Register Container and HeadWise Report',
                        "filename": 'SalesRegisterContainerandHeadWiseReport_list'

                    }]

                });

                var table = document.getElementById("reportTable");
                var row;


                var TotTEUS1 = 0;
                var TotTEUS2 = 0;
                var TotTEUS3 = 0;
                var TotTEUS = 0;

                for (var i = 1; i < table.rows.length; i++) {
                    row = table.rows[i];
                    //var Size = row.cells[6].childNodes[1].value;
                    var Size = row.cells[16].innerText;

                    //alert(Size)

                    if (Size == 20) {
                        TotTEUS1 = Number(TotTEUS1) + 1;
                    }
                    if (Size == 40) {
                        TotTEUS2 = Number(TotTEUS2) + 1;
                    }
                    if (Size == 45) {
                        TotTEUS3 = Number(TotTEUS3) + 1;
                    }
                    //TotTEUS = Number(TotTEUS) + Number(size);


                }
                TotTEUS = TotTEUS1 + (TotTEUS2 * 2) + (TotTEUS3 * 2)
                // alert(TotTEUS);
                $("#lbltwenty").text(TotTEUS1);
                $("#lblforty").text(TotTEUS2);
                $("#lblfortyfive").text(TotTEUS3);
                $("#lblTotal").text(TotTEUS);

                $("#divTEUS").show();
                $("#divTEUS1").show();
                $("#divTEUS2").show();
                $("#divTEUS3").show();



            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }


        });


    }
</script>

