
@{
    ViewBag.Title = "VoucherReportInandOutDetails";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<style>

    .table thead th, .text-wrap table thead th {
        background-color: #9f78ff;
        color: white;
    }

    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        color: black;
        font-weight: 900 !important;
        font-size: 15px !important;
    }
</style>
<script src="~/js/GetTableJson.js"></script>
<div id="tracker-loader"></div>
<div class=" content-area overflow-hidden">
    <div class="page-header">
        <h4 class="page-title">Voucher Report In and Out Details </h4>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">From Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("FromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(-1).ToString("dd MMM yyyy 00:00") })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">To Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("ToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 23:59") })

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden"> '</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button class="btn btn-primary" id="btnSearch" onclick="Show()" type="button"><i class="fe fe-search"></i></button>
                                        @*<input type="button" value="Search" class="btn btn-primary" onclick="Show()" />*@
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">

                            <div class="table-responsive">
                                <button class="btn btn-orange" id="btnSearch" title="Export To Excel" type="button"><i class="fa fa-file-excel-o" onclick="GetExcelFile()"></i></button>
                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblGST" style="width:100%">
                                    <thead>

                                    </thead>
                                    <tbody style="box-sizing :border-box;"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function Show() {
        // alert("before")
        $("#tracker-loader").fadeIn("fast");

        var delayInMilliseconds = 1000; //1 second

        setTimeout(function () {
            for (i = 0; i < 4000; i++) {
                i = i + 0;
            }
            ShowVoucherDetails();

        }, delayInMilliseconds);


        //$("#tracker-loader").fadeOut("slow");
    }
    function ShowVoucherDetails()
    {

        var fromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var data = JSON.stringify({
            'FromDate': fromDate,
            'ToDate': ToDate
        });

        $.ajax({

            url: '/Report/VoucherReportInandOutDetailsShow',
            type: 'Post',
            data: data,
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#tblGST").empty();
                RepTableDataJson($("#tblGST"), data, "Daily Carting Report", "DailyCartingReport");
                $("#tracker-loader").fadeOut("slow");

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }


        });
        $("#tracker-loader").fadeOut("slow");
    }
    $(window).on("load", function (e) {
        $("#tracker-loader").fadeOut("slow");
    })
</script>
<script type="text/javascript">

    function GetExcelFile() {

        window.location = '@Url.Action("ExportToExcelVoucherReportInandOutDetails", "report")?';


    }


</script>