
@{
    ViewBag.Title = "ExportbttcargoJOSummary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div>

    <div class="page-header">
        <h4 class="page-title">Export BTT Cargo JO Summary</h4>
        <a class="btn btn-sm" href="#" style="height:36px;align-content:center;color:white;background-color: #5ed84f;" data-placement="bottom" title="Add" data-original-title="Add" onclick="AddBTTCargoJO()"><i style="font-size: 18px;" class="fa fa-plus  mt-1"></i> </a>

    </div>

    <div class="row">

        <div class="col-lg-2 col-sm-12">
            <div class="form-group">
                <label class="form-label">From Date</label>
                <div class="row gutters-xs">
                    <div class="col">
                        @Html.TextBox("FromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(0).ToString("dd MMM yyyy 08:00") })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-12">
            <div class="form-group">
                <label class="form-label">To Date</label>
                <div class="row gutters-xs">
                    <div class="col">
                        @Html.TextBox("ToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(+1).ToString("dd MMM yyyy 08:00") })
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-2 col-sm-12 mt-5">
            <div class="form-group">
                <div class="row gutters-xs">
                    <div class="col">
                        <input type="button" id="btnShow" value="Show" class="btn btn-primary bgcolor" onclick="ExportbttcargoJOSummary()" style=" background-color: #9f78ff;" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="table-responsive">
                <table id="tblExpensesSummary" class="table table-bordered table-hover th_Background tbl-cart text-nowrap" style="width:100%">
                    <thead>

                        <tr>
                                <th>Sr No</th>
                                <th>BTT ID</th>
                                <th>BTT Date </th>
                                <th>SBNO </th>
                                <th>Area </th>
                               
                            </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

</div>


<script>

     $(document).ready(function () {
         ExportbttcargoJOSummary();
     });


      function ExportbttcargoJOSummary() {

        $("#tracker-loader").fadeIn("slow");
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();

        data1 = { 'FromDate': FromDate,'ToDate':ToDate };
        data = JSON.stringify(data1);


        $.ajax({
            type: 'POST',
            url: '/ExportModel/GetExportbttcargoJOSummary',
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (jsonResult) {
            
                 if (jsonResult == "[]") {
                    alert('No Data Found')
                } else {
                    $('#tblExpensesSummary').DataTable({
                        "destroy": true,
                        "bLengthChange": false,
                        "aaData": jsonResult,
                        "bPaginate": false,
                        "bInfo": false,
                        "dom": 'Bfrtip',
                        "buttons": [

                            {
                                extend: 'excel',
                                title: 'Export BTT Cargo Summary',
                                exportOptions: {
                                    columns: [1, 2, 3, 4]
                                }
                            }
                        ],

                        "paging": true,
                        "aaSorting": [],
                        "columnDefs": [{
                            "targets": 0,
                            "orderable": false,
                        }],
                        "columns": [
                            {"data": "SrNo"},
                            {"data": "JONO"},
                            { "data": "JODate" },
                            { "data": "SBNO" },
                            { "data": "BttArea" }
                          

                        ]
                    });


                    $(".buttons-excel").addClass("btn btn-primary bgcolor");
                    $(".buttons-excel>span").replaceWith('<i class="fa fa-file-excel-o"  data-placement="bottom"  title="Export To Excel"></i>');
                    $('[data-toggle="tooltip"]').tooltip();
                }
            },
            error: function (error) {
                let str = error.responseText;
                var a = str.indexOf("<title>") + 7;
                var b = str.indexOf("</title>");
                str = str.substring(a, b);
                alert("Something went wrong: " + str);
            }
        });
    }

    function AddBTTCargoJO() {
                  document.location = '@Url.Action("ExportbttcargoJO", "ExportModel")';

    }
  

</script>