
@{
    ViewBag.Title = "WOMaterialTransfer";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<style>

    .table thead th, .text-wrap table thead th {
        background-color: #9f78ff;
        color: white;
    }

    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        color: black;
        font-weight: 900 !important;
        font-size: 15px !important;
    }
</style>

<script src="~/js/GetTableJson.js"></script>
<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Work Order Material Transfer</h4>
        <div class="ibox-content  text-right">
            @*<a onclick="getBack();" class="btn btn-primary btn-success" style="color:white;align-content:center;"><i class="fa fa-arrow-left" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"></i>  </a>*@</li>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">As On </label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtDate", null, new { @class = "form-control form_datetime1", @id = "txtDate", name = "txtDate", autocomplete = "off", placeholder = "Date", Value = DateTime.Now.ToString("dd MMM yyyy HH:mm"), disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Transfer Location</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddllocation", new List<SelectListItem>
                            { new SelectListItem { Text = "--Select--", Value = "0"},
                            new SelectListItem { Text = "NCL-1", Value = "1"},
                            new SelectListItem { Text = "NCL-2", Value = "2"},
                            new SelectListItem { Text = "NCL-3", Value = "3"},



                              }, new { @class = "form-control", autocomplete = "off", @id = "ddllocation", onchange = "OnSearchChange()" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div>
                                @*<label class="form-label">Details </label>*@
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover tbl-cart text-nowrap mt-lg-5" id="example1" style="width:100%">
                                    <thead style="background-color: #8969eb;text-align: center;font-family: monospace;">
                                        <tr>

                                            <th style="width:1px;color: white;text-align:center">Select</th>
                                            <th style="width:80px;color: white;text-align:center">Sr No</th>
                                            <th style="width:80px;color: white;text-align:center">Item Code</th>
                                            <th style="width:80px;color: white;text-align:center">Item Name</th>
                                            <th style="width:80px;color: white;text-align:center">Received Qty</th>
                                            <th style="width:80px;color: white;text-align:center">Issue Qty</th>
                                            <th style="width:80px;color: white;text-align:center">Balance qty</th>
                                            <th style="width:80px;color: white;text-align:center">Transfer Qty</th>
                                            <th style="width:80px;color: white;text-align:center">Auto ID</th>
                                            <th style="width:80px;color: white;text-align:center">Rate</th>


                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <div class="form-group">
                                <label class="form-label"></label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @*<input type="submit" id="Save" name="save" value="Save" class="btn btn-success" />*@
                                        <button id="btnSave" class="btn btn-success btn-xs" title="Update" onclick="return Update();">Update</button>
                                        @*<input type="button" name="clear" value="Clear" class="btn btn-default" title="clear" id="clearValue" />*@
                                        <input type="button" name="clear" value="Clear" class="btn btn-outline-dark" title="clear" onclick="cleartextboxes();" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">

                    <div class="col float-right">
                        @*<input type="button" id="btnShow" value="Save" class="btn btn-success" onclick="UpdateMaterialGroup();" />*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(window).on('load', function () {

        Fetching();
    })
</script>


<script>

    function Fetching() {
        debugger;
        var AsOnDate = $("#txtDate").val().trim();

        var data1 = { 'AsOnDate': AsOnDate };

        data = JSON.stringify(data1);
        $.ajax({
            type: 'POST',
            url: '/LashingAndChocking/GetInventoryTransfer',
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (data) {

                if (data == "0" || data == "[]" || data == "") {
                    alert('No record found.');
                    return;
                }

                $('#example1').dataTable({
                    "destroy": true,
                    "bLengthChange": true,
                    "aaData": data,
                    "bPaginate": false,
                    "bInfo": true,
                    "searching": true,
                    "scrollX": true,
                    "columns": [
                        //Declare Entity Name
                        {

                            "data": "SrNo",
                            "render": function (data, type, row, meta) {

                                data = '<input type=\"checkbox\" name=\"checklist[]\" class=\"checklist\" id=\"checklist\" value="' + row.SrNo + '">';
                                return data;

                            }
                        },
                        { "data": "SrNo" },
                        { "data": "ItemCode" },
                        { "data": "ItemName" },
                        { "data": "ReceivedQty" },
                        { "data": "IssQty" },
                        { "data": "Balance" },
                        {
                            "data": "TransferQty",
                            "render": function (data, type, row, meta) {
                                data = "<input class=\"form-control\" style=\"width:100px\" id=\"TransferQty_" + row.SrNo + "\" value=\"" + row.TransferQty + "\"  autocomplete=\"off\"/>";
                                return data;
                            }
                        },
                        { "data": "AutoID" },
                        { "data": "Amount" },


                    ]
                });
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });
    }
</script>


<script>
    function Update() {
        debugger;
        $("#tracker-loader").fadeIn("slow");
        var Location = $("#ddllocation").val();




        var r = confirm("Do you want to transfer ?");
        if (r == true) {


            var checkboxarray = [];
            $('input[type=checkbox]').each(function () {
                if (this.checked) {

                    checkboxarray.push($(this).val());
                }
            });
            //selected values will go in this tablearray
            var tablearray = [];
            var table = document.getElementById("example1");
            var row;
            for (var i = 1; i < table.rows.length; i++) {
                row = table.rows[i];
                for (let K = 0; K < checkboxarray.length; K++) {

                    //insert rows with which values has to pick

                    var SrNo = row.cells[1].innerText;

                    // insert with checked condition and declare all details
                    if (SrNo == checkboxarray[K]) {// take any unique or distinct value as in sp check boxs
                        row = table.rows[i];
                        var isValid = true;

                        ItemCode = row.cells[2].innerText;
                        ItemName = row.cells[3].innerText;

                        AutoID = row.cells[8].innerText;
                        Amount = row.cells[9].innerText;

                        TransferQty = $("#TransferQty_" + SrNo + "").val();


                        if (TransferQty == 0) {
                            isValid = isValid && false;
                            $("#TransferQty_").addClass("is-invalid state-invalid");
                        } else {
                            $("#TransferQty_").removeClass("is-invalid state-invalid");
                        }



                        if (isValid == false) {
                            alert("Please fill all required field");
                            $("#global-loader").fadeOut("slow");
                            return;
                        }
                        tablearray.push({
                            'ItemCode': ItemCode, 'ItemName': ItemName,
                            'TransferQty': TransferQty, 'AutoID': AutoID, 'Amount': Amount
                        })
                    }//
                }//end k loop
            }//end i loops
        }
        var data1 = {
            'Debitdata': tablearray, 'Location': Location
        };
        if (tablearray.length == 0) {
            alert("Please select record for update");
            return false;
        }
        var data = JSON.stringify(data1);
     //   alert(data);
        $.ajax({
            url: "/LashingAndChocking/MaterialTransferYardToYard",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                $("#global-loader").fadeOut("slow");

                {
                    alert(response.ResponseMessage);
                    cleartextboxes();
                }

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }//end of main called function



</script>
<script>
    function cleartextboxes() {
                document.location = '@Url.Action("WOMaterialTransfer", "LashingAndChocking")';
    }
</script>