
<div>
    <div class="modal-header">
        <h5 class="modal-title" id="example-Modal3">Driver Documents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="divAttach">

        <form id="myForm">
            <div class="form-group" id="divFileUpload">
                <input type="file" id="fileJOAttachment" name="postedFile" />
                <input type="Button" id="btnUpload" value="Upload" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <div class="table-responsive">
                    <table id="JOAttachment" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th class=" sorting">#</th>
                                <th class="wd-15p sorting">File Name</th>
                                <th style="visibility:hidden"></th>
                                <th style="visibility:hidden"></th>
                            </tr>
                        </thead>
                        <tbody style="box-sizing :border-box;"></tbody>
                    </table>

                </div>

            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnDone" value="Done" class="btn btn-info pull-right" data-dismiss="modal" aria-label="Close">Done</button>
    </div>
</div>


@using (Html.BeginForm("DownLoadFile", "Driver", FormMethod.Post))
{
    <input type="hidden" id="hfFileId" name="id" />
    <input type="submit" id="btnDownload" value="Download" style="display:none" />
}
<script>
    $(document).ready(function () {


        $('#JOAttachment').dataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            "bFilter": false,
            "paging": false

        })

        //$.ajax({
        //    url: '/Driver/GetAttachment',
        //    type: "POST",
        //    contentType: false, // Not to set any content header
        //    processData: false, // Not to process data

        //    success: function (Data) {
        //        // alert(JSON.stringify(Data))

        //        $('#JOAttachment').dataTable({
        //            "bLengthChange": false,
        //            "bInfo": false,
        //            "bPaginate": false,
        //            "bFilter": false,
        //            "paging": false,
        //            "destroy": true,
        //            "bLengthChange": false,
        //            "aaData": Data,
        //            "columns": [
        //            { "data": "srno" },
        //            { "data": "DocFileName" },
        //            {
        //                "data": "RunningID",
        //                "render": function (data, type, row, meta) {
        //                    if (type === 'display') {

        //                        data = '<a   onclick="DownloadAttachment(' + data + ')"  href="#" class="btn btn-sm btn-primary"  title="Download"><i class="fa fa-download"></i></a>';
        //                        //  data = '<a  onclick="SubmitJO(' + data + ')"  href="#" class="submitbtn"  title="Submit"><i class="fa fa-save"></i></a>';
        //                    }

        //                    return data;
        //                }


        //            },
        //             {
        //                 "data": "RunningID",
        //                 "render": function (data, type, row, meta) {
        //                     if (type === 'display') {

        //                         data = '<a   onclick="DeleteAttachment(' + data + ')"  href="#" class="btn btn-sm btn-danger removebutton"  title="Download"><i class="fa fa-trash-o"></i></a>';
        //                         //  data = '<a  onclick="SubmitJO(' + data + ')"  href="#" class="submitbtn"  title="Submit"><i class="fa fa-save"></i></a>';
        //                     }

        //                     return data;
        //                 }


        //             }

        //            ]
        //        });
        //        CountRows();
        //      //  HideColumns();

        //    }


        //});

        //  var table = $('#JOAttachment').DataTable();


    });
</script>

<script>
    $(document).ready(function () {
        $('#btnUpload').click(function () {



            var driverid = $("#DriverID").val();
            if (driverid != 0) {
                addAttchmentINFolder(driverid);
            } else {
                $.ajax({
                    type: "POST",
                    url: "/Driver/GetMaxIDFromDriver",
                    //data: data,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                   
                        $("#DriverID").val(data)
                        addAttchmentINFolder(data);
                    },
                    failure: function (response) {
                        alert(response);
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }

                })
            }

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#fileJOAttachment").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();
                if (files.length == 0) {
                    alert("Please select File!")
                    return false;
                }
                else {
                    //   alert(document.getElementById('fileJOAttachment').files[0].size / 1024)
                    var iSize = document.getElementById('fileJOAttachment').files[0].size / 1024
                    iSize = (Math.round((iSize / 1024) * 100) / 100)
                    //alert(iSize)
                    if (iSize > 5) {
                        alert("Selected file size more than 5 MB")
                        return false;
                    }
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {

                        fileData.append(files[i].name, files[i]);

                    }
                    // Adding one more key to FormData object
                    fileData.append('username', 'Manas');
                    // alert("hi")
                    $.ajax({
                        url: '/Driver/UploadDriverAttachment',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (Data) {
                            // alert(JSON.stringify(Data))

                            $('#JOAttachment').dataTable({
                                "bLengthChange": false,
                                "bInfo": false,
                                "bPaginate": false,
                                "bFilter": false,
                                "paging": false,
                                "destroy": true,
                                "bLengthChange": false,
                                "aaData": Data,
                                "columns": [
                                    { "data": "srno" },
                                    { "data": "DocFileName" },
                                    {
                                        "data": "RunningID",
                                        "render": function (data, type, row, meta) {
                                            if (type === 'display') {

                                                data = '<a   onclick="DownloadAttachment(' + data + ')"  href="#" class="btn btn-sm btn-primary"  title="Download"><i class="fa fa-download"></i></a>';
                                                //  data = '<a  onclick="SubmitJO(' + data + ')"  href="#" class="submitbtn"  title="Submit"><i class="fa fa-save"></i></a>';
                                            }

                                            return data;
                                        }


                                    },
                                    {
                                        "data": "RunningID",
                                        "render": function (data, type, row, meta) {
                                            if (type === 'display') {

                                                data = '<a   onclick="DeleteAttachment(' + data + ')"  href="#" class="btn btn-sm btn-danger removebutton"  title="Download"><i class="fa fa-trash-o"></i></a>';
                                                //  data = '<a  onclick="SubmitJO(' + data + ')"  href="#" class="submitbtn"  title="Submit"><i class="fa fa-save"></i></a>';
                                            }

                                            return data;
                                        }


                                    }

                                ]
                            });
                            CountRows();
                        }


                    });


                }
            }
            else {
                alert("FormData is not supported.");
            }
            //  $("#fileJOAttachment").val('');
        });


    });



    function CountRows() {
        var table = $('#JOAttachment').DataTable();

        var RowCount = table.rows().count()
        document.getElementById('lblCount').innerHTML = RowCount;
        //  alert(RowCount)
    }


</script>
<script>
    function DownloadAttachment(id) {
        $("#hfFileId").val(id);
        $("#btnDownload")[0].click();

    }
</script>


<script>
    function DeleteAttachment(id) {
        var r = confirm("Are you sure want to delete this file!");
        if (r == true) {

            var table = $('#JOAttachment').DataTable();
            $('#JOAttachment tbody').on('click', '.removebutton', function () {

                table
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
                CountRows();
            });

            var data = JSON.stringify({
                'id': id
            });
            // alert(data)
            $.ajax({
                url: "/Driver/DeleteFile",
                data: data,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {


                    //  alert(response);
                    //  JOSummary()
                },
                error: function (errormessage) {
                    //  alert("error");
                    alert(errormessage.responseText);
                }
            });

        }
        else {
            // alert("You Pressed Cancel");
        }
    }
</script>