@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class=" content-area">
    @*<div class="page-header">
        <h5 class="page-title">@Html.Label("lblSysytem", "Visitor Management System (VMS)")</h5>


    </div>
    <div class="row">
        <div class="col-md-5 col-lg-5 ">
            <h4 class="font-weight-semibold">@Html.Label("StudentName", DateTime.Now.ToString("dddd")), @Html.Label("StudentName", DateTime.Now.ToString("dd MMMM yyyy"))</h4>

            <h4 class="font-weight-semibold">Welcome, @Session["userName"].ToString(). </h4>
        </div>
    </div>*@

</div>
