
@{
    ViewBag.Title = "Update Credit Note Remarks";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class=" content-area overflow-hidden" id="divCreate">

    <div class="page-header">
        <h4 class="page-title">Update Credit Note Remarks</h4>

    </div>



    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-3 col-sm-8">
                            <div class="form-group">
                                <label class="form-label">Invoice No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtinvoiceno", null, new { @class = "form-control ", @id = "txtinvoiceno", Placeholder = "Invoice No", @autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button class="btn btn-primary" type="button" name="Add" onclick="Fetch(); "><i class="fa fa-check"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-lg-6 col-sm-8">
                            <div class="form-group">
                                <label class="form-label">Remarks</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextArea("txtremarks", null, new { @class = "form-control ", @id = "txtremarks", Placeholder = "Remarks", @autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>





                    <div class="row">

                    </div>
                    <div class="form-group">
                        <label class="form-label"></label>
                        <div class="row gutters-xs">
                            <div class="col">


                                <button class="btn btn-success" onclick="Update()" title="Update"><b>Update</b></button>

                                <input type="button" name="clear" value="Clear" class="btn btn-outline-dark" title="clear" onclick="cleartextboxes();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function Fetch() {
        debugger;



        var InvoiceNo = document.getElementById('txtinvoiceno').value;
        var data1 = { 'InvoiceNo': InvoiceNo };
        var data = JSON.stringify(data1);



        $.ajax({
            type: 'POST',
            url: '/ModifyModule/GetCNDetails',
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#txtremarks').val(data[0].Remarks);


            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });
    }
</script>
<script>
    function cleartextboxes() {
        //clear text box and dropdownlist
        $("input:text").val("");
    }
</script>
<script>
    function Update() {
        $("#global-loader").fadeIn("slow");
        debugger;
        var element = {};
        element.InvoiceNo = $("#txtinvoiceno").val().trim();

        element.Remarks = $("#txtremarks").val().trim();


        var isValid = true;
        if (element.InvoiceNo == 0 ) {
            isValid = isValid && false;
            $("#txtinvoiceno").addClass("is-invalid state-invalid");
        } else {
            $("#txtinvoiceno").removeClass("is-invalid state-invalid");
        }


        if (element.Remarks == "") {
            isValid = isValid && false;
            $("#txtremarks").addClass("is-invalid state-invalid");
        } else {
            $("#txtremarks").removeClass("is-invalid state-invalid");
        }

        if (isValid == false) {
            alert("Please fill all required field");
            $("#global-loader").fadeOut("slow");
            return;
        }

        //Tax Validation



        var data = { 'Master': element };
        data = JSON.stringify(data);

        $.ajax({
            type: 'post',
            url: '/ModifyModule/UpdateCNRDetails',
            data: data,
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                $("#global-loader").fadeOut("slow");

                if (response.ResponseMessage != '') {
                    alert(response.ResponseMessage);
                    document.location = '@Url.Action("UpdateCreditNoteRemarks", "ModifyModule")';
                }
                else {
                    Swal.fire({
                        title: 'Error',
                        text: response.Message,
                        icon: 'error'
                    })
                }
            },
            error: function (error) {
                let str = error.responseText;
                var a = str.indexOf("<title>") + 7;
                var b = str.indexOf("</title>");
                str = str.substring(a, b);
                Swal.fire({
                    title: 'Error!',
                    text: str,
                    icon: 'error'
                });
            }
        });
    }
</script>
