
@{
    /**/

    ViewBag.Title = "Import Sales Register Head & Container Wise";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<script src="~/js/GetTableJson.js"></script>
<div id="tracker-loader"></div>
@*<div id="divLoader" style="display:none"> <img src="~/Content/ajax-loader.gif" alt="Loader" /> </div>*@
<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Import Sales Register Head & Container Wise </h4>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label"> From Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtFromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 00:00") })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label"> To Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 23:59") })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden"> '</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input type="button" value="Show" class="btn btn-primary" id="btnSubmit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.ActionLink("Export To Excel", "ExportToExcelImpHC", null, new { @class = "btn btn-primary btn-md" })
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-hover tbl-cart text-nowrap" style="width:100%">
                                        <thead>

                                            <tr>
                                                @*<th class="wd-10p sorting">Sr No</th>
                                <th class="wd-10p sorting">Paid ID</th>*@
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example2').dataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            "columns": columnArray,
            "paging": false

        })
    })
    $(window).on("load", function (e) {
        $("#tracker-loader").fadeOut("slow");
    })
</script>

<script>
    $("#btnSubmit").click(function () {
        import_View();
        

    })
    function import_View() {
        $("#tracker-loader").fadeIn("slow");

        var data = { 'fromDate': $("#txtFromDate").val(), 'ToDate': $("#txtToDate").val() };
        var data1 = JSON.stringify(data);
        //alert('hi')
        $.ajax({
            type: 'POST',
            url: '/ImpSalesRegHeadContWise/GetDataBind',
            data: data1,
            // data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (jsonResult) {
                //alert('hi1')
                //alert(jsonResult)
                //alert('hi2')
                // $('#example2').empty();
                // $('#example2').dataTable(jsonResult);
                $("#example2").empty();
                RepTableDataJson($("#example2"), jsonResult, "Import Sales Register Head & Container Wise", "ImportSalesRegister");
                $("#tracker-loader").fadeOut("slow");
            },
            error: function () {
                alert("error");
                $("#tracker-loader").fadeOut("slow");

            }
        })
        //$("#divLoader").hide();
    }
</script>