@{
    ViewBag.Title = "ChangPassword";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class=" content-area overflow-hidden" id="DivReceiptGenDet">
    <div class="page-header">
        <h4 class="page-title">Change Password</h4>

    </div>


    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">User Name</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input id="txtReceiptyear" readonly="readonly" value="@ViewBag.ExpensesType" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">OLD Password</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txoldtpassword", null, new { @class = "form-control ", @id = "txoldtpassword", name = "txoldtpassword", autocomplete = "off", type = "password" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">New Password</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtnewpassword", null, new { @class = "form-control ", @id = "txtnewpassword", name = "txtnewpassword", autocomplete = "off", type = "password" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button class="btn btn-success " type="button" id="savedetails" onclick="return Save();">Change</button>
                                        <button type="button" class="btn btn-icon btn-gray" name="clearProfile" title="clear" id="btnclearValue">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script>

    function Save() {
        debugger;
        var oldtpassword = document.getElementById('txoldtpassword').value;

        var data1 = { 'oldtpassword': oldtpassword };
        var data = JSON.stringify(data1);

        $.ajax({
            url: "/ChangPassword/AjaxCheckNumber",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                
                debugger;
                if (data != 1) {
                    alert("Incorrect Old Password!");
                    document.getElementById('txoldtpassword').value = "";
                }
                else {
                    Save1();
                }

            },
            error: function (errormessage) {
                alert("error");
                alert(errormessage.responseText);
            }
        });
    }
    function Save1() {
        debugger;
        var NewPassword = document.getElementById('txtnewpassword').value;
        var oldtpassword = document.getElementById('txoldtpassword').value;

        if (NewPassword == "") {
            document.getElementById("txtnewpassword").style.borderColor = "red";
            alert('Please  Enter  New Password!')
            event.preventDefault();
            return;
        }

        if (oldtpassword == "") {
            document.getElementById("txtnewpassword").style.borderColor = "red";
            alert('Please  Enter  OLD Password!')
            event.preventDefault();
            return;
        }




        var ChangPassword = {};
        ChangPassword.NewPassword = NewPassword;



        @*expTariffMaster Is Entities Name *@
        //This Is For Pass Data Through Java Script
        $.ajax({
            url: "/ChangPassword/Save",
            data: '{ChangPassword: ' + JSON.stringify(ChangPassword) + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert('Your password has been changed successfully')
                window.location.href = '@Url.Action("Logout", "Home")';
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>